:root {
  --primary-color: #a0fb00;
  font-family: monospace;
  font-size: 1.1rem;
  --bg-color: #f2f2f2;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

#navbar {
  margin: auto;
  padding: 0.8rem;
  width: 70vw;
  background: var(--primary-color);
  border-bottom-left-radius: 1.2rem;
  border-bottom-right-radius: 1.2rem;
  box-shadow: 0.6rem 0.6rem rgb(72, 240, 142);
}

#navbar li {
  padding: 0.5rem;
  text-align: right;
  list-style-type: none;
  display: inline;
}

.nav-links {
  text-align: right;
}
 

#about_img {
  width: 100%;
}

#about{
    border-radius: 2px;
    padding:0.7rem;
    background-color: var(--bg-color);
    border: 1px solid #9bf500;
    width:65%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    align-items: center;
}
#about li{
    margin:1rem;
}
.item {
  width: 50%;
  display: flex;
  justify-content: left;
}

.item ul {
  padding: 2rem;
}

.info {
  text-align: center;
}

#about-img {
  margin: 3rem auto;
  width: 62vw;
 
}

.heading {
  margin: 2rem ;
  text-align: center;
}

.about-me {
  padding: 1rem;
  display: flex;

  margin: auto;
  flex-wrap: wrap;
  flex-direction: row;
  width: 65%;

  background: var(--bg-color);
}

.about-me p {
  padding: 1em;
}

.project-container {
  display: flex;
  flex: 0 1 25%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.project {
  flex: 0 1 35%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0.5rem;
  border-radius: 5px;
  justify-content: space-around;
  border: var(--primary-color) 2px solid;
  box-shadow: 0.6rem 0.6rem rgb(72, 240, 142);
}

.project-img {
  border-radius: 5px;
  width: 80%;
  margin: auto;
  height: auto;
}
.call-for-action {
  cursor: pointer;
  width: 20vw;
  display: block;
  margin: 3rem auto;
  padding: 0.5rem;
  background-color: #a0fb00;
  box-shadow: 0 6px 6px -4px #9bf500;
  border: none;
  font-family: monospace;
  font-size: 1.1rem;
  border-radius: 5px;
}

@media (max-width: 600px) {
  .info{
    width:100vw;
    height:100vh;
  }
  .project {
    flex: 0 1 85%;
    margin: 1rem;
  }
  #about-img {
    width: 95%;
    margin: 8rem auto;
  }
  #navbar {
    width: 85vw;
  }
  #about {
    width: 85vw;
    text-align: left;
    margin: auto;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }
  .item {
    display: block;
    width:100%;
    
  }
   .item ul{
     font-size:1.2rem;
    padding:0.2rem;
   }
   .call-for-action{
     width:60vw;
   }
}

h3 {
  text-align: center;
  margin: 1rem auto;
}

p {
  margin: 0.5rem auto;
  text-align: center;
}
.button {
  cursor: pointer;
  width: 75%;
  display: block;
  margin: 0.3rem auto;
  padding: 0.5rem;
  background-color: #a0fb00;
  box-shadow: 0 6px 6px -4px #9bf500;
  border: none;
  font-family: monospace;
  font-size: 1.1rem;
  border-radius: 5px;
}


a {
  color: black;
  text-decoration: none;
}

#contact {
  position: relative;
  bottom: 0%;
  background-color: var(--primary-color);
  padding: 0.1rem;
  margin: 2rem 0 0 0;
}

.icons {
  text-align: center;
}

.icon {
  margin: 0.5rem;
  width: 1.8rem;
}

button {
  display: block;
}

ul {
  list-style-type: none;
}

.item li::before{
    content:"";
}

#animation {
  position: absolute;
  display: inline;
  font-size: 1.4rem;
  animation: hi 0.6s infinite;
}
.item li{
    margin:0.4rem;
}
@keyframes hi {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-15deg);
  }
}
